<%= form_for(review_note) do |f| %>
  <% if review_note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review_note.errors.count, "error") %> prohibited this review_note from being saved:</h2>

      <ul>
      <% review_note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
