<%= form_for(loo) do |f| %>
  <% if loo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loo.errors.count, "error") %> prohibited this loo from being saved:</h2>

      <ul>
      <% loo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
