<h1><%= @loo.name %></h1>

<div class="row">
  <div class="col-xs-12">
    <b>Rating</b>: <%= @loo.stars %><br><br>
  </div>
</div>

<div>
  <a href="<%= new_trip_path(loo_id: @loo.id) %>" class="btn btn-success btn-block">Start pooping!</a>
</div>

<div>
  <h4>Reviews</h4>
  <% @loo.reviews.reverse.each do |review| %>
    <div>
      <%= render 'reviews/short', review: review %>
    </div>
  <% end %>
</div>
